################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/PlanaltoDefense/.vs/PlanaltoDefense/v15
/PlanaltoDefense/.vs/TowerDefense-Part1-Starter/v15
/PlanaltoDefense/.vs/TowerDefense-Part1-Starter/v15
/PlanaltoDefense/.vs/TowerDefense-Part1-Starter/v15/.suo
/PlanaltoDefense/Temp
